.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  object-fit: cover;
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.card__description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  line-height: 29.05px;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  max-width: 219px;
}

.card__like-button {
  background: transparent url(../images/like\ button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button_active {
  background-image: url(../images/card-active-button.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__trash {
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: transparent;
  border-style: none;
  padding: 0;
}

.card__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}
