.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 282px;
  position: relative;
}

.card__image {
  object-fit: cover;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  max-width: 282px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
}

.card__like-button {
  background: transparent url(../images/like\ button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-button-active {
  background-image: url(../images/card-active-button.svg);
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  max-width: 219px;
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 21px;
  border: none;
  /* margin: 0;
  margin-right: 20px; */
  padding: 0;
  transition: transform 0.3s ease;
  flex-shrink: 0;
  cursor: pointer;
}

.card__delete-button:hover {
  transform: scale(1.4);
}

#card__preview-button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #000000;
}

@media screen and (max-width: 630px) {
  .card {
    grid-template-columns: 1fr;
  }
}

.card__like-button:hover {
  opacity: 50%;
}
