.cards {
  margin-top: 30px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 17px 20px;
  margin: 36px 0 0;
  padding: 0;
  list-style: none;
}
