.footer {
  box-sizing: border-box;
  padding: 67px 0 60px 0;
  color: rgba(84, 84, 84, 1);
  width: 100%;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}

@media screen and (max-width: 620px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    width: 282px;
  }

  .footer__text {
    line-height: 17px;
    font-size: 14px;
  }
}
