.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
}
.header__image {
  margin-top: 45px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 40px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-bottom: 32px;
  }

  .header__logo {
    margin-top: 28px;
    margin-left: 27px;
    height: 24px;
    width: 126px;
  }
}
