.header {
  margin-top: 45px;
  min-width: 320px;
  border-bottom-color: rgba(84, 84, 84, 0.7);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-sizing: border-box;
}
.header__image {
  width: 173px;
  height: 33px;
  padding-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
    width: 100%;
    padding-left: 20px;
  }

  .header__image {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
  }
}
