.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__container {
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  height: 330px;
  position: relative;
  display: grid;
}

.modal__image-container {
  background: transparent;
  width: 433px;
  height: 540px;
}

.modal__close {
  background-image: url(../images/Close-Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  border: none;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
}

.modal__close:hover {
  opacity: 0.5;
  transition: opacity 1s ease;
}

.modal__image-close {
  left: 475px;
  top: -7px;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  height: 23px;
}

.modal__input_form_item {
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 27.26px;
  margin-bottom: 29.74px;
}

.modal__input_form_item-title {
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 27.26px;
  margin-bottom: 29.74px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 50.15px;
  padding: 0;
  margin-top: 48px;
}

.modal__button:hover {
  visibility: visible;
  opacity: 0.5;
  transition: opacity 1s ease;
  cursor: pointer;
}

.modal__button_disabled {
  opacity: 0.2;
}

.preview-image-card {
  width: 433px;
  height: 540px;
  position: relative;
}

.preview-image-title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400px;
  font-size: 12px;
  line-height: 14.52px;
  width: 291px;
  height: 12px;
}

.modal__error {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #ff0000;
  position: relative;
  top: -30px;
}

.modal__input_type_error {
  border-bottom-color: #ff0000;
  border-bottom-width: 1px;
}

.modal__label {
  position: relative;
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0px 19px;
  }

  .modal_profile-edit {
    width: 282px;
    height: 322px;
    top: 123px;
    left: 22px;
  }

  .modal_add-card {
    width: 282px;
    height: 322px;
    top: 123px;
    left: 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 13px);
    left: 248px;
  }

  .modal__heading {
    width: 238px;
  }

  .modal__form {
    width: 238px;
  }

  .modal__input_form_item {
    width: 238px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
  }

  .preview-image-card {
    width: 240px;
    height: 299px;
  }

  .preview-image-title {
    width: 240px;
    height: 12px;
  }
}
