.page {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: auto;
}
.page__content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 320px) {
  .page__content {
    padding: 0;
  }
}
