.profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
  min-width: 282px;
  box-sizing: border-box;
}

.profile__title {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 373px;
  font-weight: 500;
  margin: 0;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title buttons"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/edit\ button\ top.svg) center no-repeat;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  margin-right: 0px;
  margin-left: 25px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/plus\ icon.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__title {
  max-width: 100%;
  justify-content: center;
}

.profile__description {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin-top: 7px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 880px) {
  .profile {
    display: flex;
  }

  .profile__picture {
    margin: 0;
    margin-bottom: 30px;
    margin-left: 24px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .profile__title {
    line-height: 1.2;
    padding-left: 30px;
  }

  .profile__subtext {
    width: 100%;
    margin-bottom: 36px;
    padding-left: 30px;
  }

  .profile__add-button {
    margin: 0;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 780px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px;
  }

  .profile__picture {
    margin: 0;
    margin-bottom: 30px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__title {
    line-height: 1.2;
    font-size: 22px;
    text-align: center;
    padding: 0;
  }

  .profile__subtext {
    width: 100%;
    margin-bottom: 36px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    line-height: 16.94px;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 400px) {
  .profile__title {
    max-width: 196px;
  }
  .profile__subtext {
    max-width: 282px;
  }
}
