.profile {
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 375px);
  align-items: center;
}
.profile__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  max-width: 415px;
}

.profile__edit-button {
  cursor: pointer;
  background: transparent url(../images/pointer-cursor.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;

  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  margin-right: 0px;
  margin-left: 25px;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
.profile__description {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin-top: 7px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
}
.profile__add-button {
  display: flex;
  cursor: pointer;
  background: transparent url(../images/cross-image.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .profile {
    background-color: black;
    flex-direction: column;
    margin-bottom: 36px;
  }
  .profile__image {
    margin: 42px 80px 30px 82px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    max-width: 196px;
    text-align: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
    align-items: center;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
    line-height: 16.94px;
  }
  .profile__add-button {
    margin: 36px 1em 0 1em;
    width: 282px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
