.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  max-width: 282px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.card__image:hover {
  opacity: 0.8;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 373px;
  margin: 0;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: opacity 0.6s ease-out;
}

.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/activeHeart.svg");
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 19px;
  right: 15px;
  transition: opacity 0.6s ease-out;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
