.footer {
  text-align: center;
  max-width: 880px;
  width: 100%;
  margin: 40px auto;
}

.footer__text {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  max-width: 318px;
  color: #545454;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .footer {
    margin: 0;
  }

  .footer__text {
    font-size: 14px;
    margin: 48px 0 38px 19px;
  }
}
