.profile {
  max-width: 880px;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 25px;
}

.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-areas: "name button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__name {
  font-family: Inter, Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  max-width: 373px;
  grid-area: name;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__editing-button {
  background: transparent center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  margin: 0;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  margin-top: 20px;
  cursor: pointer;
}

.profile__editing-button:hover {
  opacity: 60%;
}

.profile__description {
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  margin: 0;
  max-width: 415px;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-card-button {
  background: transparent center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-card-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 500px) {
  .profile {
    flex-direction: column;
  }

  .profile__avatar {
    margin: auto;
  }

  .profile__info {
    display: flex;
    margin: 30px 0 36px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
    min-width: 196px;
  }
  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    width: 282px;
    margin: 14px auto 0;
  }

  .profile__editing-button {
    width: 18px;
    height: 18px;
    margin: 3px 0 0 10px;
    padding: 0;
  }

  .profile__add-card-button {
    margin: 0 auto;
    width: 282px;
  }
}
