<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Around the US" />
    <meta name="keywords" content="US, National Park, Travel, photography" />
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Around the U.S</title>
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          src="<%= require('./images/logo.svg')%>"
          alt="Around the US logo"
          class="header__logo"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <img
            src="<%= require('./images/jacques-cousteau-1.jpg')%>"
            alt="Avatar"
            class="profile__avatar"
          />
          <div class="profile__info">
            <h1 class="profile__name">Jacques Cousteau</h1>
            <button
              type="button"
              class="profile__editing-button"
              id="profile-edit-button"
            >
              <img src="<%= require('./images/editing.svg')%>" alt="editing" />
            </button>
            <p class="profile__description">Explorer</p>
          </div>

          <button
            type="button"
            class="profile__add-card-button"
            id="card-add-button"
          >
            <img src="<%= require('./images/add.svg')%>" alt="add button" />
          </button>
        </section>
        <section class="cards page__section">
          <ul class="cards__list"></ul>
        </section>
      </main>
    </div>
    <footer class="footer page__section">
      <p class="footer__copyright">© 2024 Around The U.S.</p>
    </footer>
    <!-- ------------------------------- Profile ------------------------------- -->
    <div class="modal" id="profile-edit-modal">
      <div class="modal__container">
        <button
          class="modal__close"
          id="modal-close-button"
          type="button"
        ></button>
        <h2 class="modal__heading">Edit Profile</h2>
        <form class="modal__form" id="profile-form">
          <input
            class="modal__input"
            type="text"
            id="profile-title-input"
            name="name"
            placeholder="Name"
            minlength="2"
            maxlength="40"
            required
          />
          <span class="modal__error" id="profile-title-input-error"></span>
          <input
            class="modal__input"
            type="text"
            id="profile-description-input"
            name="description"
            placeholder="Description"
            minlength="2"
            maxlength="400"
            required
          />
          <span
            class="modal__error"
            id="profile-description-input-error"
          ></span>
          <button class="modal__button" id="profile-save-button" type="submit">
            Save
          </button>
        </form>
      </div>
    </div>
    <!-- -------------------------------- Card --------------------------------- -->
    <div class="modal" id="card-add-modal">
      <div class="modal__container">
        <button
          class="modal__close"
          id="modal-close-button"
          type="button"
        ></button>
        <h2 class="modal__heading">New Place</h2>
        <form class="modal__form" id="add-card-form">
          <input
            class="modal__input"
            type="text"
            id="card-title-input"
            name="title"
            placeholder="Title"
            minlength="1"
            maxlength="30"
            required
          />
          <span class="modal__error" id="card-title-input-error"></span>
          <input
            class="modal__input"
            name="link"
            type="url"
            id="image-link-input"
            placeholder="Image link"
            required
          />
          <span class="modal__error" id="image-link-input-error"></span>
          <button class="modal__button modal__button_disabled" type="submit">
            Create
          </button>
        </form>
      </div>
    </div>
    <div class="modal" id="image-modal">
      <div class="modal__exhibit">
        <button
          class="modal__close"
          id="modal-close-button"
          type="button"
        ></button>
        <img src="" alt="" class="modal__exhibit-image" />
        <p class="modal__exhibit-image-name"></p>
      </div>
    </div>
    <template id="card-template">
      <li class="card">
        <img src="" alt="" class="card__image" />
        <button class="card__trash" type="button"></button>
        <div class="card__description">
          <h2 class="card__name"></h2>
          <button type="button" class="card__like" type="button"></button>
        </div>
      </li>
    </template>
  </body>
</html>
